<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head" . }}
</head>

<body>
    {{ partial "navbar" . }}
    <main class="site-main">
        <div id="main-content" class="blog-page">
                <section class="text-center">
                    <div class="container text-start">
                        <div class="row">
                            <div class="col-7" style="margin: 30px;">
                                <h3>
                                    <span style="color: rgb(50, 52, 54); background-color: rgb(249, 249, 249);">
                                        {{ .Title }}
                                    </span>
                                    <br><br>
                                </h3>
                                <i class="fa fa-calendar-o" style="margin-right: 5px;"></i>
                                <time>{{ dateFormat .Site.Params.dateFormat .Date }}</time>
                                <span style="margin-left: 5px;">|</span>
                                <span style="font-weight: Normal">
                                    tags: <span class="badge rounded-pill">
                                        {{ range (.GetTerms "tags") }}
                                            <a href="#">{{ .LinkTitle }}</a>
                                        {{ end }}
                                    </span>
                                </span>
                                <hr>
                                <img class="img-responsive w-100" src="{{ .Params.src }}">
                                <p style="color: rgb(0,0,0);">{{ .Content }}</p>
                            </div>
                            <div class="col" style="margin-top: 50px;">
                                <h6 class="text-uppercase">COME SAY HELLO IN THE FORUMS!</h6>
                                <h6 class="text-uppercase" style="margin-top: 50px;">CHECK OUT OUR YOUTUBE CHANNEL</h6>
                                <div><i class="fa fa-google text-start" style="font-size: 111px;color: rgb(120,120,120);margin-top: 20px;"></i>
                                    <h4 class="text-capitalize text-start" style="margin-top: 20px;">Reviews us on google</h4>
                                </div><span style="margin: 0;"><br><span style="color: rgb(17, 17, 17); background-color: rgb(249, 249, 249);">OUR AFFILIATES!</span><br><br></span>
                                </div>
                            </div>
                    </div>
            </section>
        </div>
    </main>
    {{ partial "footer" . }}
    {{ partial "scripts-footer" . }}
</body>

</html>