<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head" . }}
    <link rel="stylesheet" href="/css/blog-list.css">
</head>

<body>
    {{ partial "navbar" . }}
    <section class="py-4 py-xl-5" style="width: 100%;color: rgb(58,156,255);background: #666262;">
        <div class="container">
            <div class="bg-dark border rounded border-0 border-dark overflow-hidden" style="background: rgb(102,98,98);">
                <div class="row g-0 text-start justify-content-center align-items-center" style="background: #666262;">
                    <div class="col-md-6">
                        <div class="text-white p-4 p-md-5" style="background: #666262;"><img class="w-100 h-100 fit-cover" src="/img/bg.jpg"></div>
                    </div>
                    <div class="col-md-6 order-first order-md-last" style="min-height: 250px;">
                        <h2 class="fw-bold text-white mb-3">IT BUSINESS SOLUTIONS<br></h2>
                        <p class="mb-4" style="color: #fff;">No Two Businesses Work in the Exact Same Way<br>Lawrence Technology Services are beyond just service and repair, we specialize in services such as infrastructure wiring, website development, and business integration. Since we understand this fact, we customize our solutions to meet your company’s individual needs. Having us as your computer people offers your company a wide range of information technology-related services that will satisfy all of your small business’s IT-related needs.  From Project Management and Paperless Office Consulting to Desktop and Windows Server support.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container" style="margin: 50px 20%;">
        <div class="row" style="width: 100%;">
            {{ range.Pages }}
            <div class="col-md-6" style="width: 100%;">
                <div>
                    <a href="{{ .Permalink }}"><h4 style="color: #cd582a;">{{ .Title }}</h4></a>
                    <p style="color: rgb(0,0,0);">{{ .Content | truncate 100 }}</p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
    {{ partial "footer" . }}
    {{ partial "scripts-footer" . }}
</body>

</html>