{{ define "main" }}
<div class="text-center" style="width: 100%;height: 100%;">
    <div class="heading-container">
        <h1 style="color: #f26b36;font-family: Roboto, sans-serif;">We focus on technology</h1>
        <h1 class="fw-light" style="color: #ffa27d;font-family: Roboto, sans-serif;">So you can focus on your business</h1><span class="fs-5" style="font-family: Roboto, sans-serif;margin-top: 20px;"><span style="color: rgb(153, 153, 153); background-color: initial;">Technology Solutions, Business Solutions, Cabling,</span><br><span style="color: rgb(153, 153, 153); background-color: initial;">Security Cameras, and much more.</span><br></span>
        <a class="col-md-6 col-lg-2" style="width: 100%">
            <a href="/work/">
                <button class="btn link-dark link-light bg-primary border rounded-pill fs-5 me-2 py-2 px-4" type="button" style="background: linear-gradient(-165deg, #ededed, #d6d6d6), linear-gradient(black, white), linear-gradient(#e1e1e1, #eaeaea);color: rgb(0,0,0);margin: 20px;padding: 10px 20px;">Check Out Our Vlog</button>
            </a>
            <a href="/about/">
                <button class="btn btn-primary link-light bg-primary border rounded-pill fs-5 me-2 py-2 px-4" type="button" style="background: var(--bs-btn-active-border-color);margin: 20px;padding: 10px 20px;">Learn More About Us</button>
            </a>
        </div>
    </div>
</div>
{{- block "home-content" . -}}{{- end -}}
{{ end }}
